@import url('https://fonts.cdnfonts.com/css/ica-rubrik-black');
@import url('https://fonts.cdnfonts.com/css/poppins');
@import url('https://fonts.cdnfonts.com/css/kosugi-maru');


/* Ajoute ceci en haut du fichier CSS */
body {
    background: url('images/Background.webp') no-repeat center center fixed;
    background-size: cover;
    margin: 0;
    min-height: 100vh;
}

a {
    text-decoration: none;
    color: inherit;
}

body::before {
    content: "";
    position: fixed;
    top: 0; left: 0; right: 0; bottom: 0;
    width: 100vw;
    height: 100vh;
    pointer-events: none;
    z-index: 9999;
    background: url('images/noise.webp') repeat;
    opacity: 1; /* 40% de noise */
    mix-blend-mode: multiply;
}

.info {
    letter-spacing: 2px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 0.7em 7em;
    font-family: 'Kosugi Maru', sans-serif;
    font-size: 0.6em;
    margin-top: 1%;
    margin-left: 5%;
    line-height: 0.5em;
    z-index: 3;
    border-radius: 16px;
    cursor: pointer;
    transition: 
        font-size 1.5s ease,
        color 1.6s cubic-bezier(.25,.8,.25,1),
        border-radius 0.3s cubic-bezier(.25,.8,.25,1),
        box-shadow 0.3s cubic-bezier(.25,.8,.25,1);
}

.info:hover {
    font-size: 0.7em;
    border-radius: 24px;
}

.banner {
    width: 100%;
    height: 100vh;
    text-align: center;
    overflow: hidden;
    position: relative;
}

.banner .slider {
    position: absolute;
    width: 200px;
    height: 250px;
    top : 10%;
    left : calc(50% - 100px);
    transform-style: preserve-3d;
    transform-style: perspective(1000px);
    animation : autoRun 20s infinite linear;
    z-index: 2;
}

@keyframes autoRun {
    from {
        transform: perspective(1000px) rotateX(-19deg) rotateY(0deg);
    }
    to {
        transform: perspective(1000px) rotateX(-19deg) rotateY(360deg);
    }
}

.banner .slider .item {
    position: absolute;
    inset : 0 0 0 0;
    transform :
        rotateY(calc( (var(--position) - 1) * (360 / var(--quantity)) * 1deg))
        translateZ(550px);
}

.banner .slider .item:hover {
transform:
    scale(1.08)
    rotateY(calc( (var(--position) - 1) * (360 / var(--quantity)) * 1deg))
    translateZ(550px);
z-index: 10;
transition: transform 0.3s cubic-bezier(.25,.8,.25,1);
}


.banner .slider .item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15%;
}

.banner .content {
    position: absolute;
    bottom: 0px;
    left: 50%;
    transform: translateX(-50%);
    width: min(1650px, 100vw);
    height : max-content;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-end;
    z-index: 2;
}

.banner .content h1 {
    font-family: 'Inter', sans-serif;
    font-weight: 900;
    font-size: 3em;
    line-height: 1em;
    color: black;
    z-index: 3;
    align-self: flex-end;
}
.banner .content h1 b {
    font-family: 'Inter', sans-serif;
    color: rgb(255, 255, 255);
    font-size: 0.8em;
    font-weight: 900;
    border-radius: 8px;
}

.banner .content .author {
    font-family: 'Poppins', sans-serif;
    text-align: right;
    max-width: 400px;
    z-index: 3;
    align-self: flex-end;
    margin-bottom: 4%;
}

.banner .model { 
    background-image: url('images/model.webp');
    width: 100%;
    margin-top: 10%;
    height: 100vh;
    position: absolute;
    background-position: top center;
    background-size: auto 100%;
    background-repeat: no-repeat;
    transform-origin: center;
    z-index: 1;
    animation: modePulse 10s ease-in-out infinite;
}

@keyframes modePulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.05);
    }
    100% {
        transform: scale(1);
    }
}

/* Responsive Media Queries */

@media (max-width: 375px) {
    .banner .content h1 {
        position: relative;
        left: -110px;
        transform: rotateZ(-270deg);
    }

    .banner .content h1 b {
        opacity: 0;
    }

    .banner .content .author {
        opacity: 0;
    }

    .info {
        margin-bottom: 10%;
    }
}

/* Small devices (phones, less than 600px) */
@media (max-width: 600px) {

    .banner .content {
        padding: 0px 0px 1em 0px; /*  haute, droite, bas, gauche */
    }

    .banner .content h1 {
        position: relative;
        top: 250px;
        margin-left: 4%;
    }

    .banner .content .author {
            font-family: 'Poppins', sans-serif;
            font-weight: 600;
            text-align: left;
            max-width: 800px;
            font-size: 0.6em;
            z-index: 3;
            align-self: flex-start;
            margin-bottom: 25%;
            margin-left: 7%;
    }

    .info {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 0.4em;
        margin-bottom: 5%;
    }

    .info:hover {
        font-size: 0.5em;
        border-radius: 24px;
    }

    .banner .slider {
        margin-top: 10%;
        width: 120px;
        height: 150px;
        left: calc(50% - 60px);
        top: 8%;
    }
    
    .banner .model {
        width: 150%;
        height: 100vh;
        background-size: auto 100%;
        margin-top: 25%;
    }

    .banner .slider .item {
        transform: 
        rotateY(calc( (var(--position) - 1) * (360 / var(--quantity)) * 1deg))
        translateZ(290px);
        cursor: pointer;
    }

    .banner .slider .item:hover {
    transform:
        scale(1.08)
        rotateY(calc( (var(--position) - 1) * (360 / var(--quantity)) * 1deg))
        translateZ(290px);
    z-index: 10;
    transition: transform 0.9s cubic-bezier(.25,.8,.25,1);
    }

    @keyframes autoRun {
    from {
        transform: perspective(1000px) rotateX(-29deg) rotateY(0deg);
    }
    to {
        transform: perspective(1000px) rotateX(-29deg) rotateY(360deg);
    }
    }
}

/* Medium devices (tablets, 600px to 900px) */
@media (min-width: 601px) and (max-width: 900px) {

    .info {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 0.8em;
        margin-bottom: 5%;
    }

    .info:hover {
        font-size: 0.9em;
        border-radius: 24px;
    }

    .banner .content {
        padding: 0px 0px 4em 4em; /*  haute, droite, bas, gauche */
    }

    .author {
        opacity: 0;
    }

    .banner .slider {
        margin-top: 5%;
        width: 150px;
        height: 180px;
        left: calc(50% - 75px);
        top: 9%;
    }
    .banner .content h1 {
        font-size: 4em;
    }

    .banner .model {
        width: 100%;
        height: 100vh;
        margin-top: 15%;
        background-size: auto 100vh;
        margin-left: 10%;
    }
    .banner .slider .item {
        transform: 
        rotateY(calc( (var(--position) - 1) * (360 / var(--quantity)) * 1deg))
        translateZ(390px);
        cursor: pointer;
    }
    .banner .slider .item:hover {
    transform:
        scale(1.08)
        rotateY(calc( (var(--position) - 1) * (360 / var(--quantity)) * 1deg))
        translateZ(390px);
    z-index: 10;
    transition: transform 0.3s cubic-bezier(.25,.8,.25,1);
    }


    @keyframes autoRun {
    from {
        transform: perspective(1000px) rotateX(-26deg) rotateY(0deg);
    }
    to {
        transform: perspective(1000px) rotateX(-26deg) rotateY(360deg);
    }
    }
}

/* Large devices (desktops, 900px and up) */
@media (min-width: 901px) {
    .banner .slider {
        width: 200px;
        height: 250px;
        left: calc(50% - 100px);
        top: 10%;
    }

    .banner .slider .item {
        transform: 
        rotateY(calc( (var(--position) - 1) * (360 / var(--quantity)) * 1deg))
        translateZ(450px);
        cursor: pointer;
    }

    .banner .slider .item:hover {
    transform:
        scale(1.08)
        rotateY(calc( (var(--position) - 1) * (360 / var(--quantity)) * 1deg))
        translateZ(450px);
    z-index: 10;
    transition: transform 0.3s cubic-bezier(.25,.8,.25,1);
    }

    
    @keyframes autoRun {
    from {
        transform: perspective(1000px) rotateX(-26deg) rotateY(0deg);
    }
    to {
        transform: perspective(1000px) rotateX(-26deg) rotateY(360deg);
    }
}

    .banner .content h1 {
        font-size: 6em;
    }

    .banner .content .author {
        font-family: 'Poppins', sans-serif;
        font-weight: 500;
        text-align: right;
        max-width: 800px;
        font-size: 1.3em;
        z-index: 3;
        align-self: flex-start;
        margin-bottom: 0%;
        margin-right: 7%;
    }

    .banner .content {
        padding: 0px 0px 7% 7%; /*  haute, droite, bas, gauche */
        font-size: 0.6em;
    }
    .banner .model {
        height: 100vh;
        background-size: auto 110%;
        margin-top: 10%;
        margin-left: 6%;
    }
}